<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>http://scs3.syslive.cn/mb/projects/projectlist.ds</string>
		<key>img</key>
		<string></string>
		<key>description</key>
		<string>projects</string>
		<key>name</key>
		<string>项目</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://scs3.syslive.cn/mb/customer/customerlist.ds</string>
		<key>img</key>
		<string></string>
		<key>description</key>
		<string>customers</string>
		<key>name</key>
		<string>客户</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://scs3.syslive.cn/mb/organization/zuzhilist.ds</string>
		<key>img</key>
		<string></string>
		<key>description</key>
		<string>Organization</string>
		<key>name</key>
		<string>组织</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://scs3.syslive.cn/mb/jixiao/Customermaintenance_tj.ds</string>
		<key>img</key>
		<string></string>
		<key>description</key>
		<string>Performance</string>
		<key>name</key>
		<string>绩效？</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://scs3.syslive.cn/mb/channels/channels_contact/contact.ds</string>
		<key>img</key>
		<string></string>
		<key>description</key>
		<string>Contacts</string>
		<key>name</key>
		<string>联络</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://scs3.syslive.cn/mb/channels/enterprise_channels/all_channels.ds</string>
		<key>img</key>
		<string></string>
		<key>description</key>
		<string>Channels</string>
		<key>name</key>
		<string>渠道</string>
	</dict>
</array>
</plist>
